$page-width: 1200px;
$margin: 16px;
$form-item-height: 50px;
$animation-duration: 0.25s;
$columns: 12;



$font-size-base: 16px;
$font-size-small: ceil(($font-size-base * 0.85));

$color-primary: #08426f;
$color-secondary: #5ba0d5;
$color-tertiary: #94ba65;
$color-link: #79b0da;
$color-accent: #f5a314;
$color-border: #adadad;
$color-bg: #f2f2f2;
$color-text: #5e5e5e;
$color-error: #e64545;


$font-regular: 'PTSans-Regular';
$font-bold: 'PTSans-Bold';

$bp-mobile: 767px;